<header class="header-container">
    <h1 class="app-title">TreeFlow</h1>
    <img src="assets/logo2.png" alt="TreeFlow Logo" class="logo">
    <p class="subtitle">Inspectores</p>
    <app-header></app-header>
  </header>
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 d-flex flex-column align-items-center">
        <button class="btn-option" (click)="goToCensarArbol()">Censar Árbol</button>
        <button class="btn-option" (click)="goToMantenimiento()">Mantenimiento</button>
        <button class="btn-option" (click)="goToPlantaciones()">Plantaciones</button>
      </div>
    </div>
  </div>