<header class="header-container">
    <h1 class="app-title">TreeFlow</h1>
    <img src="assets/logo2.png" alt="TreeFlow Logo" class="logo">
    <p class="subtitle">Administrativo</p>
    <app-header></app-header>
  </header>
  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 d-flex flex-column align-items-center">
        <button class="btn-option" (click)="goToGestionOrdenes()">Gestión de Órdenes</button>
        <button class="btn-option" (click)="goToVerArboles()">Ver Árboles</button>
      </div>
    </div>
  </div>
  